.header {
  margin: 30px 0;
  font-size: 64px;
  text-align: center;
}

.body {
  margin: 0 auto 42px;
  width: 80%;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  display: inline-block;

  margin: auto;

  border-radius: 30px;

  background-color: #4c4f5c;

  width: 300px;
  height: 200px;

  text-align: center;
}

.text {
  margin-top: 64px;

  color: white;
  font-size: 36px;
}
