.bar {
  background-color: #4c4f5c;
}

.link {
  display: inline-block;

  margin: 0.8rem;

  font-size: 2rem;
}

.left {
  margin-left: 1.2rem;
}

.right {
  float: right;
  margin-right: 1.2rem;
}

.right:hover {
  cursor: pointer;
}
