.bar {
  background-color: #4c4f5c;
}

.link {
  display: inline-block;

  margin: 10px;

  font-size: 24px;
}

.left {
  margin-left: 20px;
}

.right {
  float: right;
  margin-right: 20px;
}

.right:hover {
  cursor: pointer;
}
