.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 6px solid #3a57c9;
  border-radius: 30px;

  background-color: white;

  width: 540px;
  height: 150px;

  color: #31333b;
  font-size: 52px;
  font-family: inherit;
}

.button:hover {
  cursor: pointer;
}
