.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);

  width: 80%;
}

.title {
  margin: 2rem 0 0.8rem;
  font-size: 3rem;
}

.body {
  margin-top: 0.8rem;
  font-size: 2rem;
}
